.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $color-light;
  color: $color-dark;
  border-radius: 4px;
  border-color: $color-sun;
  min-width: 60px;
  max-width: 150px;
  height: 20px;

  &:hover {
    background-color: rgb(209, 209, 209);
  }

  &:disabled {
    border: none;
    background-color: rgb(125, 125, 125);
  }
}